* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  display: flex;
}

header img {
  width: 110px;
}

.leftside,
.rightside {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftside ul,
.rightside ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 14px;
  margin: 0;
}

/* .carousel-item img {
    height: 640px;
} */

.pe-custom {
  padding-right: 100px;
}

.me-custom {
  margin-left: 100px;
}

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img img {
  width: 110px;
}


/* MOBILE */
.mobile img {
    margin: 0 auto;
}


@media (max-width: 768px) {
  .mobile {
    display: flex;
  }
}