*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    display: flex;
}

header img {
    width: 110px;
}


.leftside, .rightside{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftside ul, .rightside ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 14px;
    margin: 0;
}

/* .carousel-item .content {
    display: flex;
    align-items: center;
}

.carousel-item .left-image {
    flex: 1;
    margin-right: 20px; 
}

.carousel-item .right-content {
    flex: 2; 
}
*/
/* .carousel-item img {
    width: 600px;
} */ 
















